$accent: #FF6838;
$default:#31352B;
$title:#363853;
$bg:#f9faff;

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-medium',sans-serif;
  font-weight: 500;
}

%rubik-italik {
  font-family: 'Rubik-italik',sans-serif;
  font-style: italic;
  font-weight: 400;
}